
div .content-left{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
div .content-rigt{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(255, 255, 255, 0.3)
}
div .form-login{
    width: 50vh;
    height: 45vh;
    border: 5px solid #004465;
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
}
div .content-principal{
    background: #004465;
}
.title-pre{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
    color: #ED9A2A;
    font-size:4vw;
}

@media (max-width: 992px) {
    div .content-left{
        height: 20vh;
        width: 100%;
    }
    div .content-rigt{
        height: 80vh;
    }
    
}
@media (max-width: 600px) {
    .title-pre{
        font-size:6vw;
    }
    div .form-login{
        width: 40vh;
        border: none;
    }
    div .content-left{
        height: 10vh;
        width: 100%;
    }
    div .content-rigt{
        height: 90vh;
    }
}
@media (min-width: 992px){
    div .content-left{
        height: 100vh;
    }
}

.button-login {
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: none;
    background: #004465;
   z-index: 1;
  }
  .button-login:hover:after {
    width: 100%;
    left: 0;
  }
  .button-login:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease;
    background-color: #ED9A2A;
    right: 0;
  }
  .button-login:active {
    top: 2px;
  }
